@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root { 
    --black-primary: #1D1F22;
    --green-primary: #5ECE7B;
    --gray-primary: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-y:scroll;
}

body::-webkit-scrollbar {
    display: none;
  }

.disable-scrolling {
    position: fixed; overflow-y:scroll; width: 100%;
}

.title { 
    font-size: 3em;
}

#jacket-canada-goosee { 
    object-fit: cover;
}

#root { 
    position: relative;
}

.position-absolute { 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2%);
    padding: 0.5em 2em;
    z-index: 70;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.28);
}

.backdrop { 
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 60;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}

.backdrop-visible { 
    display: none;
}

.backdrop-blurred { 
    display: block;
}

.generic-error {
    display: flex;
    justify-content: center;
    color: red;
}

.cart-preview::-webkit-scrollbar { 
    display: none;
}

.show-cart-preview { 
    display: flex;
}

.hide-cart-preview { 
    display: none;
}

.main-cart-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3em;
    margin: 5rem 5rem;
}

.main-cart-product-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5em;
}

.main-cart-product-separator::after {
    display: block;
    position: absolute;
    top: 110%;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(72, 72, 72, 0.2); 
}

.main-cart-container .cart-title { 
    text-transform: uppercase;
} 

.main-cart-product-details { 
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.inactive-category { 
    color: var(--black-primary);
    border-bottom: 2px solid white;
}

.active-category {
    color: var(--green-primary);
    border-bottom: 2px solid var(--green-primary);
}

.current-product-details {
    display: flex;
    flex-direction: column;
    row-gap: 2em; 
    min-width: 24rem;
    max-width: 26rem;
    background-color: white;
}

.current-product-details-group { 
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.current-product-name { 
    font-weight: 700;
}

.current-product-attributes { 
    display: flex;
    flex-direction: column;
    row-gap: 1.3em;
}

.attribute-wrapper { 
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.current-product-attributes-items { 
    display: flex;
    flex-direction: row;
    padding: 0 auto;
    column-gap: 1em;
}

.current-product-attributes-items p { 
    border: 1.5px solid var(--black-primary);
    font-weight: bold;
    padding: 0.5em 1em;
    cursor: pointer;
}

.add-to-cart-button {
    background-color: var(--green-primary);
    border: none;
    padding: 1em 0;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
}

.add-to-cart-button:hover { 
    opacity: 0.8;
}

.add-to-cart-button-not-in-stock { 
    opacity: 0.8;
    cursor: not-allowed;
}

.attribute-active { 
    background-color: var(--black-primary);
    color: white;
}

.attribute-active-in-cart-preview {
    background-color: var(--gray-primary);
    opacity: 0.5;
    color:  var(--black-primary);
} 

.swatch-attribute-active { 
    opacity: 0.3;
    transform: scale(80%);
    transition: all 300ms ease;
}

.swatch-attribute-active-in-cart-preview { 
    opacity: 0.3;
    transform: scale(80%);
}

.swatch { 
    content: '';
    width: 3rem;
    height: 3rem;
    transition: all 150ms ease;
}

.swatch-with-border { 
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.attribute-title { 
    text-transform: uppercase;
}

.current-products-description { 
    display: flex;
    flex-direction: column;
    row-gap: 0.8em; 
    font-size: 1em;
}

.current-products-description h1 {
    font-size: 1.5em;
}

.current-products-description ul { 
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

@media screen and (min-width: 1440px) { 
    .products-wrapper { 
        grid-template-columns: repeat(4, 1fr);
    }
    
    .current-product-wrapper { 
        column-gap: 8em;
    } 

    .small-gallery-photo { 
        width: 150px;
    }

    .current-product-main-photo { 
        width: 500px;
    }
}